<!-- Boiler Plate -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>Grocery Item Recommendations</h1>
    <form method="POST">
      <label for="user_cart">Enter items in your cart (comma-separated):</label
      ><br />
      <input type="text" id="user_cart" name="user_cart" required />
      <button type="submit">Get Recommendations</button>
    </form>

    <!-- This is how variables and if statements are done using flask -->
    {% if recommendations %}
    <h2>Recommended Items:</h2>
    <ul>
      {% for item in recommendations %}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>{{message}}</p>
    {% endif %}

    <script src="/static/js/scripts.js"></script>
  </body>
</html>
